.author{
    display: flex;
    flex-direction:row;
    margin-bottom: 5rem !important;
    transition:all 0.7s
}
.author:hover{
    transform: scale(1.05);
    box-shadow: 0 1rem 2rem rgba(128, 255, 0, 0.649)!important;
    border-color: chartreuse;
}
.contact{
    padding-top: 30px;
}

.author-img img{
    border-radius:4px;
}