.nature-item{
    width: 20% !important;
    margin:0 !important;
}

/* responsive */
@media only screen and (max-width:768px){
    .card-item{
        width:90% !important;
        margin: 0 !important;
    }
}