.card-items{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    padding-bottom: 2.5rem;
}
.card-item{
    display: flex;
    flex-direction: row;
    transition:all 0.5s;
    margin-top:1.25rem;
}
.card-item:hover{
    transform:scale(1.05);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.175)!important;
}
.card-img{
    width: 100%;
}
.card-item img{
    width: 43.75rem;
    border-radius: 4px;
}

.blur-qayta{
    width: 100%;
}
.color-red{
    color: red !important;
}
